body 
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    background-color: #efe6d4;
}

nav.top-navbar 
{
    background-color: #1b1815;
    color: #fff;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 45px; 
    padding: 10px;
}

.nav-links 
{
    display: flex;
    gap: 80px; 
}

.nav-links a 
{
    color: white; 
    text-decoration: none;
    transition: color 0.3s; 
}

.nav-links a:hover 
{
    color: #cb7615; 
}

.content-container 
{
    display: flex; 
    flex-grow: 1; 
    padding-top: 55px; 
}

section.left-sidebar 
{
    background-color: #dba181;
    width: 220px; 
    padding: 10px;
    text-align: center;
}

section.right-sidebar 
{
    background-color: #dba181;
    width: 220px; 
    padding: 10px;
    text-align: center;
}

section.main-content 
{
    flex-grow: 1; 
    padding: 20px; 
    overflow-y: auto; 
    background-color: #efe6d4;
    text-align: center; 
}